.result__container {
  text-align: center;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  h2 {
    font-size: 3em;
    margin-bottom: 12px;
    color: var(--color-white);
  }

  button {
    border: none;
    border-radius: var(--radius);
    background-color: var(--color-white);
    width: 100%;
    padding: 18px 0px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
